<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/styles.css" rel="stylesheet" />
    <title>BOOK NOTES</title>

</head>
<body>
	<main>
<div id="headerTab">
    <form  action="/" method="GET">
        <input class="button" type="submit" value="Home"/>
    </form>
    <form action="/new" method="POST">
        <input class="button" type="submit" value="Add" id="addButton"/>
    </form>

</div>